.main {
  outline: 1px solid white;

  display: grid;
  grid-template-rows: 4rem 18rem auto;
  height: 100%;
}

.destinations {
  outline: 1px solid white;

  display: flex;
  justify-content: space-around;

  margin-top: 2.5rem;
}

.destinations img {
  outline: 1px solid white;
}

.destinationInfo {
  outline: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2.5rem;

  position: relative;
}

.destinationInfo .imgContainer {
  outline: 1px solid white;
  height: 75%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.destinationInfo .imgContainer img {
  height: 100%;
  width: 100%;
}

.destinationInfoText {
  position: absolute;
}

.hidden {
  display: none;
}

.closeBtn,
.arrowRightBtn {
  position: absolute;
  top: 14%;
  right: 26%;
  cursor: pointer;
}

.arrowRightBtn {
  width: 25px;
  height: 25px;
  top: 78%;
  right: 26%;
}
