.main {
  /* outline: 1px solid white; */

  display: grid;
  grid-template-rows: 4rem auto;
  height: 100%;

  color: white;
  overflow: scroll;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pageHeader {
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
}

.pageBody {
  /* outline: 2px solid yellow; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
}

.userDataHalf {
  /* outline: 2px solid green; */
  width: 35%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.userDataDiv {
  /* outline: 1px solid white; */

  width: 75%;
  height: 25%;

  position: relative;
  margin-top: 0.5rem;
}

.userDataDiv img {
  height: 100%;
  width: 100%;
}

.userDataLabel {
  font-size: 1.2rem;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.editBtn {
  position: absolute;
  top: 2%;
  right: 1%;
  cursor: pointer;
}

.userDataText {
  /* outline: 1px solid white; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2.3rem 0 auto;
  text-align: center;
}

.userDataTextName,
.userDataTextNameActive,
.userDataTextEmail,
.userDataTextEmailActive {
  all: unset;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  /* font-family: inherit; */
  background-color: rgba(66, 66, 66, 0.651);
}

.userDataTextEmail,
.userDataTextEmailActive {
  margin-top: 0.5rem;
}

.userDataTextNameActive {
  background-color: #fff;
  color: #000;
}

.logoutBar {
  /* outline: 1px solid white; */

  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  width: 70%;
}

.logoutText {
  font-size: 1.5rem;
}

.logoutButton {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.bookedJourneysHalf {
  /* outline: 2px solid orange; */
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
