.contact {
  color: white;
  /* outline: 2px solid white; */

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.contactList {
  /* outline: 2px solid green; */

  width: 40rem;

  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.office,
.getInTouch {
  line-height: 1.2;
}

.office {
  margin-left: 4rem;
}

.getInTouch {
  margin-right: 4rem;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
}

/* media queries */

@media (max-width: 40rem) {
  .contact {
    flex-direction: column;
  }
  .contactList {
    width: 100%;
    justify-content: space-evenly;
  }

  .office,
  .getInTouch {
    margin: 0rem;
  }
}

@media (max-width: 30rem) {
  .contactList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .office,
  .getInTouch {
    width: 100%;
    text-align: center;
  }

  .office {
    margin-top: -2rem;
  }

  .getInTouch {
    margin-top: 1rem;
  }
}
