.destinationInfo {
  /* outline: 1px solid white; */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  animation: fadeIn 0.2s ease-in;
}

.destinationInfo .imgContainer {
  /* outline: 1px solid white; */
  height: 75%;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.destinationInfo .imgContainer img {
  height: 100%;
  width: 100%;
}

.destinationInfoText {
  /* outline: 1px solid yellow; */

  position: absolute;

  height: 70%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.destinationInfoText div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planetDescriptionText {
  margin-top: 1rem;
  padding: 0 1rem;
}

.hidden {
  display: none;

  /* animation: fadeOut 0.2s ease-in forwards; */
  /* this runs the animation right away when the page loads */
}

.closeBtn,
.arrowRightBtn,
.journeyBtn {
  position: absolute;
  top: 4%;
  right: 2%;
  cursor: pointer;
}

.arrowRightBtn {
  width: 20px;
  height: 20px;
  top: 30%;
  right: -20%;
}

.journeyBtn {
  top: 86%;
  right: 7%;
  background: none;
  color: white;
  border: none;
  /* height: 20px; */
  font-family: inherit;
  font-weight: 700;
  font-size: 1.4rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  99% {
    display: none;
  }
  100% {
    opacity: 0;
    display: none;
  }
} */
