.main {
  color: white;
  display: grid;
  grid-template-rows: 4rem auto;
  height: 100%;
}

.notFound {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10rem;
}

.backToWelcomePageBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  width: 20rem;
  font-size: 1.2rem;
}

/* media queries */

@media (max-width: 40rem) {
  .main {
    height: 100vh;
  }
}

@media (max-width: 30rem) {
  .notFound {
    padding: 0 1rem;
    text-align: center;
  }
}
